* {
  scroll-behavior: smooth;
  transition-duration: 0.4s;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: whitesmoke;
}

nav {
  width: 100%;
  position: fixed;
}

nav .active, nav .active:hover {
  cursor: default;
  font-weight: 600;
  background-color: #04AA6D;
}

nav ul {
  margin: 0;
  padding: 15px;
  display: flex;
  align-items:center;
  height: fit-content;
  list-style-type: none;
  justify-content: center;
  background-color: #222322;
}

nav li {
  display: flex;
  margin: 0 10px;
  width: fit-content;
  height: fit-content;
}

nav li a {
  display: block;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

main {
  display: flex;
  min-height: 80vh;
  padding-top: 2rem;
  align-items: center;
  padding-bottom: 6rem;
  flex-direction: column;
}